<link rel="stylesheet" href="/styles/404style.css">

<div class="container">
  <h1 class="display-4 text-center not-found-header">
    Something went wrong
  </h1>
  <img src="../images/Dragged.gif" class="not-found-image">
  <div class="homeLink text-center">
    <a href="/home">
      <button class="btn btn-lg btn-primary">Back To Home</button>
    </a>
  </div>
</div>