<link rel="stylesheet" href="/styles/navbar.css">
<link rel="stylesheet" href="/styles/createDog.css">

<img src="/images/WalkingBrownDoggo.gif" class="dog-image" alt="Walking Boy">
<div class="errorMessage text-center" style="display: none">Please input a name and image to add a dog</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <form class="align-center" name="newDog" method="post" onsubmit="validateNewDog()" action="/api/createdog" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input name="dog_name" class="form-control dog-name" type="text" placeholder="Dog Name">
                </div>
                <select name="breed" class="select-style">
                    <option value="golden doodle">Golden Doodle</option>
                    <option value="bulldog">Bulldog</option>
                </select>
                <br>
                <select name="gender" class="select-style">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <br>
                <label class="btn btn-primary btn-file">
                    Upload Your Dog's Photo <input class="fileUpload" name="dog_photo" type="file" style="display: none;">
                </label>
                <br>
                <label for="dog_note" class="note-label text-center">What are they like?</label>
                <textarea class="dog-note" id="dogNotes" name="dog_note"></textarea>
                <br />
                <button class="btn btn-primary add-dog" type="submit">
                    Add Dog
                </button>
            </form>
        </div>
    </div>
</div>

<div class="footer-margin">
    <footer class="page-footer blue fixed-bottom scrolling-footer" id="navbar">

        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">

                <a href="/" class="mx-1">
                    <button class="btn btn-secondary btn-lg nav-btn">
                        Home
                        <br />
                        <i class="fas fa-paw fa-5px"></i>
                    </button>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="/posts" class="mx-1">
                    <button class="btn btn-secondary btn-lg nav-btn">
                        New Post
                        <br />
                        <i class="fas fa-pen-fancy fa-5px"></i>
                    </button>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="/allposts" class="mx-1">
                    <button class="btn btn-secondary btn-lg nav-btn">
                        View All Posts
                        <br />
                        <i class="fas fa-bone fa-5px"></i>
                    </button>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="/lostdogs" class="mx-1">
                    <button class="btn btn-secondary btn-lg nav-btn">
                        Lost Dogs
                        <br />
                        <i class="fas fa-location-arrow fa-5px"></i>
                    </button>
                </a>
            </li>
        </ul>
    </footer>
</div>

<script src="/js/createDog.js"></script>