<link rel="stylesheet" href="/styles/navbar.css">

<style>
    h1 {
        text-align: center;
        font-family: 'Fredoka One', cursive;
        text-shadow: 4px 4px black;
        color: rgb(188, 119, 115);
    }

    #navbar {
        background-color: rgb(188, 119, 115);
    }

    body {
        background-color: rgb(242, 242, 242);
    }

    .jumbotron {
        background-color: rgb(234, 231, 231);
        border-bottom: 2px solid black;
    }

    .btn {
        background-color: darkslateblue;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">New Post</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="mx-auto">
            <form id="newPost" method="post" action="/api/newpost">
                <div class="form-group">
                    <label for="breed">Breed</label>
                    <select name="breed">
                        <option value="golden doodle">Golden Doodle</option>
                        <option value="bulldog">Bulldog</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="post_type">Post Type</label>
                    <select name="post_type">
                        <option value="Dog Post">Dog Post</option>
                        <option value="Meet Up">Meet Up</option>
                    </select>
                </div>

                <div class="form-group">
                    <textarea id="text" name="text" rows="8" cols="40" placeholder="Type your post here!"></textarea>
                </div>

                <input class="btn btn-success newPostSubmit" type="submit" value="Post" />
            </form>
        </div>
    </div>
</div>
<footer class="page-footer blue fixed-bottom scrolling-footer" id="navbar">

    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">

            <a href="/home" class="mx-1">
                <button class="btn btn-secondary btn-lg nav-btn">
                    Home
                    <br />
                    <i class="fas fa-paw fa-5px"></i>
                    <i class="fas fa-paw fa-5px"></i>
                </button>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="/posts" class="mx-1">
                <button class="btn btn-secondary btn-lg nav-btn">
                    New Post
                    <br />
                    <i class="fas fa-pen-fancy fa-5px"></i>
                    <i class="fas fa-pen-fancy fa-5px"></i>
                </button>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="/allposts" class="mx-1">
                <button class="btn btn-secondary btn-lg nav-btn">
                    View All Posts
                    <br />
                    <i class="fas fa-bone fa-5px"></i>
                    <i class="fas fa-bone fa-5px"></i>
                </button>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="/lostdogs" class="mx-1">
                <button class="btn btn-secondary btn-lg nav-btn">
                    Lost Dogs
                    <br />
                    <i class="fas fa-location-arrow fa-5px"></i>
                    <i class="fas fa-location-arrow fa-5px"></i>
                </button>
            </a>
        </li>
    </ul>
</footer>