<link rel="stylesheet" href="./styles/signin.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="header"> Sign-In </h1>
            <img src="https://cdn.dribbble.com/users/1055986/screenshots/3424194/doberman-walk.gif" alt="Dancin Dauschand">
            <br>
            <br>
            <br>
            {{#if message}}
                <div class="alert">{{message}}</div>
            {{/if}}
            <form id="signin" name="signin" method="post" action="signin">
                <input type="email" name="email" class="form-control sign-in-input" placeholder="E-mail">
                <input type="password" name="password" class="form-control sign-in-input" placeholder="Password">
                <br />
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-lg btn-primary custom-btn">Sign In</button>
                    </div>
                </div>
            </form>
            <br />
            <div class="row">
                <div class="col-12 text-center">
                    <a href="/signup">
                        <button class="btn btn-lg btn-secondary custom-btn link-to-sign-up">
                            Sign Up
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>