<link rel="stylesheet" href="./styles/signup.css">

<div class="container-fluid">
    <div class="row">
        <div class="mx-auto">
            <h1 class="header"> Sign-Up </h1>
            <img src="https://cdn.dribbble.com/users/488076/screenshots/3650226/dog_running_003.gif" class="sign-up-dog" alt="green dog">

            {{#if message}}
                <div class="alert text-center">{{message}}</div>
            {{/if}}

            <form id="signup" name="signup" onsubmit="validateSignUp()" method="post" action="/signup">
                {{!-- <label for="email">Email Address</label> --}}
                <input name="email" class="form-input" type="email" placeholder="E-mail" />
                {{!-- <label for="firstname">Firstname</label> --}}
                <input name="firstname" class="form-input" type="text" placeholder="First Name" />
                {{!-- <label for="lastname">Lastname</label> --}}
                <input name="lastname" class="form-input" type="text" placeholder="Last Name" />
                {{!-- <label for="zip">Zip Code</label> --}}
                <input name="zip" class="form-input" type="text" placeholder="Zip Code" />
                {{!-- <label for="phone_number">Phone Number</label> --}}
                <input name="phone_number" class="form-input" type="text" placeholder="Phone Number" />
                {{!-- <label for="password">Password</label> --}}
                <input name="password" class="form-input" type="password" placeholder="Password" />
                <br />
                <input class="btn btn-primary btn-lg" id="submit" type="submit" value="Sign Up" />
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a href="/signin">
                <button class="btn btn-lg btn-secondary link-to-sign-in">
                    Sign In
                </button>
            </a>
        </div>
    </div>
</div>



<script src="/js/passportError.js"></script>