<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1> Sign-In </h1>
            <img src="https://cdn.dribbble.com/users/1055986/screenshots/3424194/doberman-walk.gif" alt="Dancin Dauschand">
            <br>
            <br>
            <br>
            {{#if message}}
            <div class="alert">{{message}}</div>
            {{/if}}
            <div class="form-group">
                <form id="signin" name="signin" method="post" action="signin">
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <a href="/signup"><button class="signUpBtn">Sign Up</button></a>
</div>