.mp-reset {
    margin: 0;
    padding: 0;
}

img {
    width: 150%;
    margin-left: -25%;
}

.header {
    font-family: 'Fredoka One', cursive;
    color: #FFC97F;
    font-size: 150px;
    text-shadow:  2px 2px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

body {
    background-color: rgb(142, 179, 183);
}

.sign-in-input {
    margin-top: 25px;
    height: 100px;
    font-size: 30px;
    border-radius: 25px;
    text-align: center;
}

.custom-btn {
    width: 75%;
    height: 100px;
    font-size: 40px;
}

.link-to-sign-up {
    width: 75%;
}