.dog-name {
    font-size: 78px;
    font-family: 'Concert One', cursive;    
}

body {
    background-color: rgb(241, 241, 241);
}

.header {
    color: rgb(67, 155, 167);
    text-shadow: 5px 2px rgb(149, 181, 240);
    margin-top: 85px;
    font-size: 7em;
    font-family: 'Fredoka One', cursive;
}

.dog-content {
    margin-top: 100px;
}

.updatedDogName {
    margin-top: 5px;
    height: 100px;
    font-size: 36px;
    border-radius: 25px;
    text-align: center;
}

.update-name-label {
    font-size: 50px;
    font-family: 'Concert One', cursive;
    font-weight: 100;
}

.btn-file {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn-custom {
    width: 75%;
    font-size: 38px;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 0;
}

.swal2-popup { 
    font-size: 2.5rem ! important;
}

.update-dog-submit {
    background: #536CB5;
    border-radius: 10;
    border: 0;
}